.container {
  max-width: 800px;
  max-height: 700px;
  display: block;
  background-color: #f3e5b1;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 40px;
  box-shadow: 10px 10px 150px #f3e5b1;
}

form {
  text-align: center;
}

.form-control {
  border-radius: 10px;
}

.btn-primary {
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: #4c8492;
}

.btn-success {
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: #f09c67;
}

h1 {
  color: #013c4d;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #fbf7e6;
  border-radius: 30px;
  width: 500px;
}

h1,
.conditions,
.weatherdata {
  display: block;
  text-align: center;
}
h1,
.conditions,
.weatherdata::first-letter {
  text-transform: capitalize;
}

.weatherdata {
  margin: 0px;
}

.temperature {
  font-size: 100px;
  color: #1b3290;
  padding-right: 0px;
  max-width: 140px;
  text-align: right;
}

.celsiusfahrenheit {
  padding: 30px 0px;
  font-size: 30px;
}

.active {
  cursor: default;
  color: black;
}

.active:hover {
  text-decoration: none;
}

#icon {
  width: 150px;
}

h4 {
  color: #013c4d;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #fbf7e6;
  width: 150px;
  border-radius: 30px;
}

.col-2 {
  background-color: #87bdca;
  border-radius: 20px;
  max-width: 150px;
  font-size: 18px;
  text-align: center;
}

.forecast-temperatures {
  font-size: 16px;
}

.forecast-temp-min {
  color: #3a6874;
}

.credits {
  padding-top: 10px;
}
